# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# Jetbrains IDE
/.idea
/.buildpath
/.cache
/.metadata
/.project
/.settings
/.vscode

# Serverless
/.serverless

# npm
/node_modules

# env
.env.preprod
.env.prod

# Test
__tests__

# Build
/dist
